.chart {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.chart__line {
    display: flex;
    flex-wrap: wrap;
}

.chart__element {
    display: grid; 
    align-items: end;
}

.chart__comment {
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.wrapper {
    display: flex; 
}