{% extends "base.html" %}

{% block title %}{{ song.title }}{% endblock %}

{% block content %}
    <!-- {{ chart.title }} -->
    {% for key, value in chart.meta.items %}
        {% if value %}
            {{ value }}
        {% endif %}
    {% endfor %}
    <br>
    {% for section in chart.sections %}
       {% for line in section.lines %}
            {% for chord in line.chords %}
                {{ chord }}
                <br>
            {% endfor %}
       {% endfor %}
    {% endfor %}
{% endblock %}
